@model HomeIndexViewModel

@if (ViewBag.Validation != null)
{
    <span style="color: red;">@ViewBag.Validation</span>
    <br />
}

@if (Model != null)
{
    foreach (var message in Model.Messages)
    {
        if (message.Sent)
        {
            <span class="pull-right">@message.Message</span>
        }
        else
        {
            <span class="pull-left">@message.Message</span>
        }
        <br />
    }
}
